{% extends 'base.html' %} 

{% block content %}
{% load static %}

<!-- <div id="cartInfo" class="cartInfo">
  
  <span id="numItemsInCartHelpText" value="Your shopping cart has">
  <span id="itemHelpText" value="Item">
  <span id="itemsHelpText" value="Items">
  <a href="/coursebasket/publicCourseBasket.do?method=load" id="shoppingCartLink" title="Your shopping cart has 0 items" aria-label="Your shopping cart has 0 items"><span class="glyphicon-shopping-cart glyphicon"></span>
    <span id="cartCount" class="badge rounded-circle badge-warning">0</span></a>
</span></span></span></div> -->
<div class="carrito-container">
    <p>aqui aparece el carrito</p>
    
</div>

{% endblock %}