<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %} 
    <link rel="stylesheet" href="{% static 'css/registro-login.css' %}">
    <title>Document</title>
</head>
<body>
    <nav class="navbar" > 
        <!-- <img id="navlogo" src="{% static 'img/logo-frutales1.jpeg' %}" alt="">
        <a href="/">Volver</a> -->
        <img onclick='location.href="/"' id="navlogo" src="{% static 'img/logo-frutales1.png' %}" alt="">
    </nav>
    <div class="register-container">
        {% if messages %}
        <ul class="messages">    
            {% for message in messages %}    
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
            {% endfor %}
        </ul>
        {% endif %}
        <h1>Registro</h1>
        <form action="/create" method="POST">
            {% csrf_token %}
            <p>
                <label for="id_first_name">First name:</label> <input type="text" name="first_name" id="id_first_name">
            </p>
            <p><label for="id_last_name">Last name:</label> <input type="text" name="last_name"  id="id_last_name"></p>
            <p><label for="id_email">Email:</label> <input type="email" name="email" id="id_email"></p>
            <p><label for="id_password">Password:</label> <input type="password" name="password" id="id_password"></p>
            <p><label for="id_confirmed_pw">Confirmed pw:</label> <input type="password" name="confirmed_pw" id="id_confirmed_pw"></p>
            <input class="register-btn" type="submit" value="register">
        </form>  
    </div>
</body>
</html>